body
{
	background-image: none !important;
	background-color: #FFF;
}

.footer { display: none; }
.hideprint { visibility: hidden; }
.noprint { display: none; }
.teaser { display: none; }
.border { display: none; }
