body
{
	background: #82B70D url('/images/homepage/homepage_bground.gif');
	height: 100%;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}

#container { overflow: hidden; position: relative; width: 100%; }
body.pbs-station #container {  }

#main { display: table; height: 100%; margin: 0 0 0 0; width: 100%; }

#content { display: table-cell; padding: 0 0 135px 0; vertical-align: middle; }

#ie-div { display: none; }

#flashcontent { margin-bottom: 0; }

/* HEADER CONTENT */

#header
{
	width: 100%;
	margin: 0 auto;
	padding: 5px 0 0 0;
	text-align: center;
}

#header #headerbuttons
{
	width: 760px;
	margin: 0 auto;
	text-align: right;
}


/* USED IN THE GROWN UP CONTENT BELOW THE FLASH */

#footer
{
	background: #a2da15;
	bottom: -1px;
	left: 0;
	position: absolute;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 0;
}

#footer #banners
{
	width: 760px;
	height: 80px;
	margin: 5px auto 0 auto;
	text-align: center;
	font: 10px verdana, arial, sans-serif;
	color: #fff;
}

#footer #banners #sponsorship
{
	float: left;
	width: 235px;
}

#footer #banners #localization
{
	width: 117px;
	margin-left: 640px;
}

#footer #banners #localization a:link,
#footer #banners #localization a:visited,
#footer #banners #localization a:hover,
#footer #banners #localization a:active
{
	color: #336600;
}

#footer #banners #localization img
{
	border-top: 10px #fff solid;
	border-right: 17px #fff solid;
	border-bottom: 10px #fff solid;
	border-left: 17px #fff solid;
}

/* KIDS ROTATOR */

#kids-rotator {
	margin: 0 auto;
	padding: 20px 0;
	position: relative;
	width: 800px;
}

#kids-rotator a { outline: none; }
#kids-rotator a img { border: 0; }

#nav-back {
	left: 0;
	position: absolute;
	top: 29px;
}

#nav-next {
	position: absolute;
	right: 0;
	top: 29px;
}

#kids-rotator-content { height: 50px; height: 50px; margin: 0 auto; position: relative; width: 671px; }
#kids-rotator .content { background: #A2DA15; display: none; left: 0; position: absolute; text-align: center; top: 0; width: 671px; }

/* Parents Promo Styling */

#kids-rotator .parents { color: #3f5b05; font-family: Arial, Verdana, sans-serif; font-size: 12px; margin: 0; padding: 0; width: 671px; }
#kids-rotator .parents a { color: #3f5b05; } 
#kids-rotator .parents img { float: left; margin: 0 10px 0 0; padding: 0; }
#kids-rotator .parents img.parents-logo { margin: 0 10px 0 0; }
#kids-rotator .parents p { margin: 0; padding: 17px 0 0 0; text-align: left; }

#pbs-ga-overlay { display: none; }

/* COPYRIGHT */

#copyright
{
	background: #fff;
	color: #507700;
	float: left;
	margin: 0;
	padding: 2px 0 3px 0;
	width: 100%;
}

/* Center the footer content in a fixed-width box */
#copyright .inner { margin: 0 auto; width: 800px; }

#copyright #pbs-station {
	float: left;
	margin: 0; padding: 0;
	width: 250px;
}

#copyright #pbs-station p { float: none; margin: 6px 0; padding: 0; text-align: left; }
#copyright #pbs-station img { border: 0; margin: -10px 0 -10px 0; position: relative; }
#copyright #pbs-station a { color: #b9afaf; text-decoration: none; }
#copyright #pbs-station a:hover { color: #9f9898; text-decoration: underline; }

#copyright p.station { float: right; margin: 5px 0; padding: 0; text-align: right; width: 300px; }
#copyright p { float: right; margin: 2px 0; padding: 0; text-align: right; width: 400px; }

#copyright,
#copyright a:link,
#copyright a:visited,
#copyright a:active
{
	font: 10px verdana, arial, sans-serif;
	color: #507700;
}

#copyright a:hover { color: #83BF00; }


/* BOTTOM CONTENT*/

table#bottomcontent
{
	margin: 5px auto 5px auto;
	text-align: center;
}

table#bottomcontent td
{
	padding: 5px 5px 0 5px;
}

table#bottomcontent td,
table#bottomcontent td a:link,
table#bottomcontent td a:visited,
table#bottomcontent td a:hover,
table#bottomcontent td a:active
{
	font: 12px arial, sans-serif;
	color: #498202;
	text-decoration: none;
}

/* STATION LOGO */

table#bottomcontent td #pbsstation
{
	text-align: center;
	background: url('/images/homepage/footer_station_box.gif') no-repeat;
	height: 86px;
	width: 94px;
}

table#bottomcontent td #pbsstation #pbsstationgutter
{
	padding: 8px 0 0 0;
}

table#bottomcontent td #pbsstation #pbsstationheader
{
	margin: 0 0 0 0;
	font: 11px arial, sans-serif;
	color: #C2C2C2;
}

table#bottomcontent td #pbsstationlink,
table#bottomcontent td #pbsstationlink a:link,
table#bottomcontent td #pbsstationlink a:visited,
table#bottomcontent td #pbsstationlink a:hover,
table#bottomcontent td #pbsstationlink a:active
{
	margin: 1px 0 0 0;
	font: 10px arial, sans-serif;
	color: #386401;
	text-decoration: none;
}


/* PBS TEACHERS */

table#bottomcontent td #pbsteachers
{
	text-align: center;
	background: url('/images/homepage/footer_teachers_box.gif') no-repeat;
	height: 86px;
	width: 228px;
}

table#bottomcontent td #pbsteachers #pbsteachersgutter
{
	padding: 10px 10px 0 10px;
}

table#bottomcontent td #pbsteachers #pbsteachersteaser
{
	margin: 8px 0 0 0;
}

/* PBS PARENTS */

table#bottomcontent td #pbsparents
{
	text-align: center;
	background: url('/images/homepage/footer_parents_box.gif') no-repeat;
	height: 86px;
	width: 382px;
}

table#bottomcontent td #pbsparents #pbsparentsgutter
{
	padding: 10px 10px 0 15px;
}

table#bottomcontent td #pbsparents #parentscontent
{
	margin: 3px 0 0 0;
}

table#bottomcontent td #pbsparents #parentscontent #parentsthumbnail
{
	width: 88px;
	height: 40px;
	padding: 0px 10px 0 0;
	text-align: left;
	float: left;
}

table#bottomcontent td #pbsparents #parentscontent #parentsteaser
{
		padding: 4px 0 0 0;
		text-align: left;
}

/* PBS KIDS ISLAND */

#pbskidsisland
{
margin: 5px auto 0 auto;
text-align: center;
width: 100%;
}